<html>

  <head>
    <title>Pig Latin</title>
  </head>

  <body>
    <h1> <%= @title  %></h1>
    <form action="/translate" method="post">
      <input type="text" name='text' autofocus>
      <button>Translate!!</button>

    </form>

    <p><%= @pig_text %></p>

  </body>
</html>